@import '@/styles/variables.scss';

html,
body,
#app {
  /*设置内部填充为0，几个布局元素之间没有间距*/
  padding: 0px;
  /*外部间距也是如此设置*/
  margin: 0px;
  /*统一设置高度为100%*/
  height: 100%;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
}
.jyz-layout {
  height: 100%;
  overflow: hidden;
  .el-table {
    font-size: 12px;
  }
  .el-table td,
  .el-table th {
    padding: 6px 0px;
  }
  .el-table--scrollable-y .el-table__body-wrapper {
    overflow-y: auto;
  }
  .jyz-header {
    padding: 0px;
    display: flex;
    align-items: center;
    .el-menu {
      background-color: transparent;
      border-bottom: 0px;
    }
    .el-menu-item.is-active {
      border-bottom: none;
    }
    .logo-group {
      width: 200px;
      text-align: center;
    }
    .toggle-btn {
      height: 60px;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    .toggle-btn i {
      font-size: 23px;
      color: #606266;
    }
    .toggle-btn:hover i {
      color: #409eff !important;
    }
  }
  .jyz-middle {
    .el-menu {
      background-color: transparent;
      border-right: 0px;
    }
    .jyz-middle-main {
      padding: 0px;
      display: flex;
      flex-direction: column;
      height: 100%;
      .jyz-middle-main-header {
        height: 41px;
        .el-tabs__header.is-top {
          margin: 0px;
        }
        .el-tabs__nav {
          overflow: hidden;
        }
      }
    }
  }
}
